@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --purple: #5280e2;
  --green: #15cdcb;
  --bg-dark: #212226;
  --light-grey: #e0dede;
  --menu-height: 75px;
  --medium-grey: #2f3034;
  --dark-pink: #ab33ab;
}

html,
body {
  background: var(--bg-dark);
  font-family: "Poppins", sans-serif;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.nav_menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav_menu ul a {
  font-size: 24px;
  color: var(--dark-pink);
  text-decoration: none;
}

.section_about_me {
  display: flex;
  padding: 100px;
}

.section_container {
  width: 50%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_title{
  color: var(--dark-pink);
  font-weight: 400;
  font-size: 44px;
}

.slider {
  /* margin: 0 auto; */
  width: 38%;
  height: 450px;
  overflow: hidden;

}


.slides {
  width: 400%;
  height: 450px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manual-navigation {
  position: absolute;
  width: 615px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  color: #ab33ab;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid var(--purple);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width:615px;
  margin-top: 420px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

.section_about_me .line {
  width: calc(35% + 25px);
  height: calc(50% + 40px);
  border: 1px solid var(--dark-pink);
  position: absolute;
  top: 211px;
  left: calc(50% - 2% / 2 - 2px);
}

.section_about_me .line.green {
  transform: rotate(-3.3deg);
  color: var(--green);
}

.paragrafo_sobre_mim{
  color: #fff;
}

.title-formacao{
  color: var(--dark-pink);
  font-size: 44px;
  font-weight: 400;
}

.formacao {
  text-align: center;
  margin: 150px 0;
  padding: 0 100px;
}

.formacao-container,
.portfolio-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 60px auto 0;
}

.formacao .formacao-container .formacao-card {
  max-width: 360px;
  background: #2F3034;
  border: 1px solid var(--dark-pink);
  border-radius: 16px;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.formacao .formacao-container .formacao-card img {
  width: 130px;
  margin-bottom: 40px;
}

.formacao-card+.formacao-card {
  margin-left: 10px;
}

.formacao-card h2{
  font-size: 24px;
  margin: 0;
  font-weight: 400;
  color: white;

}

.formacao-card p{
  color: var(--light-grey);
}

.title-portfolio{
  color: var(--dark-pink);
  font-weight: 400;
  font-size: 44px;
}

.portfolio {
  padding: 0 100px;
  margin-bottom: 100px;
  height: 800px;
  text-align: center;
  background: url('assets/portfolio-bg.png') ;
  background-repeat: round;
}

.portfolio .portfolio-container {
  margin-top: 130px;
}

.portfolio .portfolio-container .portfolio-card {
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);
  border-radius: 16px;
  max-width: 360px;
  text-align: left;
  padding: 50px 25px;
}

.portfolio-card+.portfolio-card {
  margin-left: 10px;
}

.portfolio-card p{
  color:var(--light-grey);
}

.primeira-img-portfolio{
  height:200px ;
  width: 100%;
 

}

.segunda-img-portfolio{
height:200px ;
}
.terceira-img-portfolio{
  height:200px ;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
  width: 100%;
  border-radius: 16px;
}

.portfolio .portfolio-container .portfolio-card .line {
  width: calc(100% + 24px);
  height: calc(100% + 60px);
  position: absolute;
  top: -12px;
  left: calc(50% - 100%/2 - 12px);
  transform: rotate(-1.93deg);
  border-radius: 16px;
}

.portfolio .portfolio-container .portfolio-card .language-container {
  margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 3px 15px;
}

.portfolio-card .language-container ul li+li {
  margin-left: 10px;
}

.contact {
  max-width: 800px;
  margin: 150px auto 70px;
  text-align: center;
  padding: 0 20px;
  
}

.contact h1 {
  margin: 0 auto 35px;
  background: -webkit-linear-gradient(#ab33ab, #5280E2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 44px;

}

.contact p {
  color: var(--light-grey);
}



.contact .social-media {
  max-width: 360px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}
